<html>
	<head>
		<title>Realtime Markdown with Node!</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>

	<body class="container-fluid">

		<div class ="row">
			<textarea id="pad" class="col-md-6 full-height">Get going!</textarea>
			<div class="col-md-6 full-height"></div>
		</div>

	</body>
</html>